body {
  display: flex;
  flex-direction: column;
}

.button {
  width: 180px;
  height: 40px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  background: rgba(43, 45, 66, 1);
  color: #f7f7f9;
  border: none;
}

.button:disabled {
  background: rgba(22, 21, 21, 0.7);
  color: gray;
  cursor: default;
}
.button:disabled:hover {
  background: rgba(22, 21, 21, 0.7);
  color: gray;
  cursor: default;
}

.task-remdeleteove-button {
  background: rgba(43, 45, 66, 1);
}

.task-delete-button:hover {
  background: rgba(43, 45, 66, 0.7);
}

.task-edit-button {
  background: rgb(91, 102, 223);
}

.task-edit-button:hover {
  background: rgb(91, 102, 223, 0.7);
}

.task-add-button {
  background: rgba(254, 164, 5, 1);
}

.task-add-button:hover {
  background: rgba(254, 164, 5, 0.7);
}

.task-actions {
  display: flex;
  gap: 10px;
}

/* EDIT TASK FORM */

.task-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 500px;
  border: 2px solid black;

  background: #fff8e8;
  z-index: 9999;
}

.task-form--error {
  border: 3px solid red;
}

.task-form-item {
  width: 100%;
}
